<div class="container jumbotron form-custom">
	<h2>Fill in the form to subscribe to our Newsletter!</h2>
	<form action="/subscribe_confirmation">
		<div class="form-group">
			<label for="user_name">Your name</label>
			<input type="text" name="user_name" id="user_name" class="form-control">
		</div>
		<div class="form-group">
			<label for="user_surname">Your surname</label>
			<input type="text" name="user_surname" id="user_surname" class="form-control">
		</div>
		<div class="form-group">
			<label for="user_email">Your e-mail</label>
			<input type="e-mail" name="user_email" id="user_email" class="form-control">
		</div>
		<button type="submit" class="btn btn-warning btn-md">Submit</button>
	</form>
	
</div>