<div class="jumbotron">
	<h2>Thank you for subscribing!</h2>
	<p>Dear <strong><%= @user_name %> <%= @user_surname %></strong>, you will now receieve all our updates and news on your e-mail: <strong><%= @user_email %></strong>.</p>
	<p>Getting in touch was never that easy!</p>
	<p>Cheers from the Linocut team.</p>	
</div>